<div class="container">
  <h2 class="my-sm-4">いいね一覧</h2>
  <div class="row">
    <% @favorite_posts.each do |post| %>
      <div class="col-sm-2">
        <table class="table table-bordered">
          <tr>
            <td class="text-center"><%=image_tag post.get_image(100,100) %></td>
          </tr>
          <tr>
            <td><%= post.status_i18n %></td>
          </tr>
          <tr>
            <td><%= post.name %></td>
          </tr>
          <tr>
            <td><%= link_to "詳しく見る", post_path(post.id) %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>