<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>おすすめ</h4>
      <div class="row">
        <% @customers.each do |customer| %>
        <div class="col-md-3 text-md-center">
          <%= image_tag customer.get_profile_image(100,100), class: "rounded-circle" %>
        </div>
        <div class="col-md-2 font-weight-bold px-md-0 d-md-flex align-items-center">
          <%= customer.name %>
        </div>
        <div class="col-md-4 offset-md-3 d-md-flex align-items-center">
          <%= link_to "詳細へ", customer_path(customer.id), class: "btn btn-info" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--ページネーション-->
<div class="d-md-flex justify-content-md-center">
  <%= paginate @customers %>
</div>