<div class="container">
  <h2 class="my-sm-4">検索結果</h2>
  <div class="row">
    <% @records.each do |post| %>
      <div class="col-sm-2">
        <table class="table table-bordered">
          <tr>
            <td class="text-center"><%= image_tag post.get_image(130,130) %></td>
          </tr>
          <tr>
            <td><%= post.status_i18n %></td>
          </tr>
          <tr>
            <td><%= post.name %></td>
          </tr>
          <tr>
            <td><%= link_to "詳細へ", post_path(post.id) %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
