<div class="container text-center">
  <div>
    <%= image_tag 'https://dummyimage.com/600x400/000/fff' %>
  </div>
  <div>
  <h2>Connect Heart</h2>
  <p>
    日本では、約4万匹もの動物が保護されています。保護された動物の中には、
    行き場がなく寂しい思いをしている動物がいます。
    寂しい思いをしている動物を皆さんで救いませんか?
  </p>
  <p>
    このサイトは「里親募集中の方」「里親希望の方」「迷子動物捜索中の方」など、
    動物に関する保護状況や飼育知識などを発信することができるコミュニティサイトです。
    皆さんで動物に関する情報を共有し合い、一丸となって動物を救いましょう。
  </p>
  <p>
    Connect Heart とは「心を繋ぐ」という意味です。人と動物の心の繋がりを通して、それぞれが幸せになれれば幸いです。
  </p>
  </div>

  <div>
    <%= link_to "新規登録はこちらから", new_customer_registration_path, class: "btn btn-success" %>
    <%= link_to "ログインはこちらから", new_customer_session_path, class: "btn btn-success" %>
  </div>
</div>


