<h1>About</h1>
<p>
  こちらは里親募集中の方、里親希望の方、そして動物たち、それぞれの心を繋ぐコミュニティサイトです。<br>
  閲覧するには会員登録が必要になります。<br>
  皆さんの力で動物たちを救いませんか?
</p>

<div>
  <%= link_to "新規登録はこちらから", new_customer_registration_path %>
  <%= link_to "ログインはこちらから", new_customer_session_path %>
</div>