<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <%= image_tag 'dog-2209704_1280.jpg', class: "w-100 h-100" %>
      </div>
      <div>
        <h2 class="my-sm-3">Connect Heart</h2>
        <p>
          日本では、約4万匹もの動物が保護されています。保護された動物の中には行き場がなく、寂しい思いをしている動物がいます。
          寂しい思いをしている動物を皆さんで救いませんか?
        </p>
        <p class="my-sm-3">
          このサイトは「里親募集中の方」「里親希望の方」「迷子動物捜索中の方」など、
          動物に関する保護状況や飼育知識などを発信することができるコミュニティサイトです。
          皆さんで動物に関する情報を共有し合い、一丸となって動物を救いましょう。
        </p>
        <p>
          Connect Heart とは「心を繋ぐ」という意味です。人間と動物の心の繋がりを通して、それぞれが幸せになれば幸いです。
        </p>
      </div>
    </div>
  </div>
</div>