@use '~bootstrap/scss/bootstrap';
// header
.logo{
  width:100px;
  height:80px;
}

// homes/top.html.erb
.top-image{
  background-image: url("../images/animal-2632836_1920.jpg") ;
  background-size: cover ;
  width : 100vw ;
  height: calc(100vh - 95.99px - 72px) ;
}

.top{
  padding-top: 430px ;
  padding-left: 110px;
}

// posts/index.html.erb
.post-image{
  background-image: url("../images/cat-3699032_640.jpg") ;
  width: 570px ;
  height: 400px ;
  background-size: cover ;
}

.post-header{
  padding-top: 260px ;
}

.post-side-image{
  background-image: url("../images/heart.png") ;
  width: 190px ;
  height: 180px ;
  background-size: cover ;
}

// posts/show.html.erb
.heading{
  font-weight: normal ;
  padding: 0.25em 0.5em ;
}

.heading2{
  border-left: 6px solid #6dbec8 ;
  border-bottom: 1px solid #6dbec8 ;
  font-size: 2rem ;
}

.tag_head{
  border-bottom: 1px solid #6dbec8 ;
}

.field_with_errors{
  display: contents ;
}